In [1]:
import pandas as pd
import numpy as np
from datascience import *

In [5]:
state_locations = Table().with_columns(
    "State/UT", make_array('Andaman and Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
                             'Chandigarh', 'Chhattisgarh', 'Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
                             'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep',
                             'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Orissa',
                             'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh',
                             'Uttaranchal', 'West Bengal'), 
    "Latitude (N)", make_array(11.7401, 15.9129, 28.2180, 26.2006, 25.0961, 30.7333, 21.2787, 20.2270, 28.7041,
                              15.2993, 22.2587, 29.0588, 31.1048, 33.2778, 23.6102, 15.3173, 10.8505, 10.5593,
                              22.9734, 19.7515, 24.6637, 25.4670, 23.1645, 26.1584, 20.9517, 11.9416, 31.1471,
                              27.0238, 27.5330, 11.1271, 23.9408, 26.8467, 30.0668, 22.9868), 
    "Longitude (E)", make_array(92.6586, 79.7400, 94.7278, 92.937, 85.313, 76.7794, 81.8661, 73.0169, 77.1025,
                               74.124, 71.1924, 76.0856, 77.1734, 75.3412, 85.2799, 75.7139, 76.2711, 72.6358,
                               78.6569, 75.7139, 93.9063, 91.3662, 92.9376, 94.5624, 85.0985, 79.8083, 75.3412,
                               74.2179, 88.5122, 78.6569, 91.9882, 80.9462, 79.0193, 87.8550))

state_locations

State/UT            | Latitude (N) | Longitude (E)
Andaman and Nicobar | 11.7401      | 92.6586
Andhra Pradesh      | 15.9129      | 79.74
Arunachal Pradesh   | 28.218       | 94.7278
Assam               | 26.2006      | 92.937
Bihar               | 25.0961      | 85.313
Chandigarh          | 30.7333      | 76.7794
Chhattisgarh        | 21.2787      | 81.8661
Daman and Diu       | 20.227       | 73.0169
Delhi               | 28.7041      | 77.1025
Goa                 | 15.2993      | 74.124
... (24 rows omitted)

In [10]:
state_locations.to_csv("State Locations.csv")